.main-wrapper {
  min-height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f4f6f9;
}

header {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.card {
  border-radius: 8px;
}

input.form-control {
  border-radius: 20px 0 0 20px;
}

button.btn-primary {
  border-radius: 0 20px 20px 0;
}

.alert {
  border-radius: 8px;
}

/* Ajustes específicos para el contenedor del código temporal */
.codigo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px; /* Aumenta el espacio entre el texto y el código */
  margin-bottom: 20px; /* Añade margen para mayor espacio */
  word-wrap: break-word; /* Asegura que el código no se desborde */
}

.codigo-container .fw-bold {
  font-size: 1.1em;
  color: #3f51b5; /* Color de texto personalizado */
}

/* Para la tarjeta con el botón y temporizador */
.card-body.d-flex {
  flex-direction: column;
  gap: 10px; /* Esto agrega más espacio entre los elementos de la tarjeta */
}

/* Ajuste para los botones y temporizador */
.d-flex.align-items-center {
  justify-content: space-between;
}

.d-flex.align-items-center button {
  margin-right: 10px;
}

.text-primary {
  font-weight: bold;
}

.ms-2 {
  margin-left: 10px;
}

/* Para la sección de mensajes */
.mb-3 {
  margin-bottom: 20px;
}

/* Nuevo mensaje */
.fixed-bottom {
  z-index: 1020;
  border-top: 1px solid #ddd;
  padding: 15px;
  background-color: white;
}

.input-group {
  max-width: 700px;
  margin: 0 auto;
}

.input-group .form-control {
  border-radius: 20px 0 0 20px;
}

.input-group .btn-primary {
  border-radius: 0 20px 20px 0;
  padding: 10px 15px;
}

input.form-control {
  font-size: 1rem;
  padding: 10px;
}
