<div class="login-page d-flex align-items-center justify-content-center min-vh-100 p-3">
  <div class="login-wrapper">
    
    <div class="logo-area text-center mb-4">
      <img src="assets/icons/logo.png" alt="Logo" class="logo-icon mb-2">
      <h1 class="main-title">Buzón Anónimo</h1>
    </div>

    <div class="login-box p-4 shadow-sm">
      <h3 class="form-title text-center mb-4">Acceso Usuarios</h3>

      <div class="input-group custom-input mb-3">
        <span class="input-group-text bg-white border-0 ps-3">
          <i class="bi bi-envelope fs-5"></i>
        </span>
        <div class="separator"></div>
        <input
          type="email"
          [(ngModel)]="correo"
          placeholder="Correo"
          class="form-control border-0"
        >
      </div>

      <div class="input-group custom-input mb-4">
        <span class="input-group-text bg-white border-0 ps-3">
          <i class="bi bi-lock fs-5"></i>
        </span>
        <div class="separator"></div>
        <input
          type="password"
          [(ngModel)]="pass"
          placeholder="Contraseña"
          class="form-control border-0"
        >
      </div>

      <button
        (click)="login()"
        [disabled]="loading"
        class="btn btn-entrar w-100"
      >
        ENTRAR
      </button>

      <div *ngIf="errorMessage" class="text-danger text-center mt-3 small fw-bold">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>