$color-main-blue: #3f51b5;
$color-button-blue: #5c6bc0;
$color-background: #e9eef6;

.login-page {
  background-color: $color-background;
}

.logo-icon {
  width: 80px;
  height: auto;
}

.main-title {
  color: $color-main-blue;
}

.btn-primary {
  background-color: $color-button-blue;
  border: none;

  &:hover {
    background-color: darken($color-button-blue, 10%);
  }
}
